*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(background.jpg) center center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    border: 0.5px solid white;
    border-radius: 10px;
    padding: 28px 32px;
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 4px #b4b4b4, 8px 8px 0px #747474;
}

.main h1{
    font-size: 1.8rem;
    margin-block: 8px;
}

#passBox{
    background-color: white;
    border: none;
    outline: none;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    margin-block: 8px;
}
.row{
    display: flex;
    margin-block: 8px;
    justify-content: space-between;
}
.row input[type = "checkbox"]{
    width: 18px;
    height: 18px;
}
#genBtn{
    border: none;
    outline: none;
    padding: 12px 24px;
    color: white;
    background-color: rgb(77, 73, 198);
    border-radius: 5px;
    margin-block: 8px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}
#genBtn:hover{
    background-color: rgb(56, 52, 165);
}
#genBtn:active{
    background-color: rgb(77, 73, 198);
}

@media (max-width : 450px){
    .main{
        width: 80vw;
    }
    .main h1{
        font-size: 25px;
        text-align: center;
    }
    .row input[type = "checkbox"]{
        width: 13px;
        height: 13px;
    }
    #genBtn{
        font-size: 14px;
    }
}